body {
  font-family: "Roboto", sans-serif;
  background: #fcfaf7;
}

header {
  text-align: center;
  color: #124a2f;
  padding: 10px;
  margin: 10px;
}

btn .nav {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
.nav-link {
  color: #124a2f;
}

.btn {
  color: #fcfaf7;
  background: #124a2f;
  border: solid #124a2f;
  border-radius: 4px;
}
.main-card {
  border-color: #124a2f;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 100%;
  position: relative;
}

.card-img-overlay {
  position: static;
}
.card-style-h1 {
  text-align: center;
  color: #fcfaf7;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin: 10px;
}

.card-style-h2 {
  text-align: center;
  color: #fcfaf7;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.service-cards {
  border-color: #124a2f;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 10px;
  margin: 20px;
  height: auto;
  width: 100%;
}

.main-images {
  border-radius: 2px;
  margin-bottom: 20px;
  border: 1px solid #124a2f;
  display: inline;
}
