body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f9f1;
  margin-left: -2%;
  margin-right: -2%;
}

header {
  background-color: #5c715e;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100% \9;
}

.card {
  border-color: #5c715e;
  border-width: 2px;
}

.service-text {
  color: #5c715e;
}

.card-style-h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 65px;
  margin-top: 150px;
}

.card-style-h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.quote-button {
  display: block;
  margin: 0 auto;
  color: #f2f9f1;
  background-color: #5c715e;
  border: #b6cdbd;
}

.quote-button :hover {
  color: #5c715e;
  background-color: #f2f9f1;
  border: #b6cdbd;
  cursor: pointer;
}
