body {
  font-family: "Roboto", sans-serif;
  background: #f2f9f1;
}

header {
  text-align: center;
  color: #5c715e;
  padding: 10px;
  margin: 10px;
}

.nav-link {
  color: #5c715e;
}

.main-card {
  border-color: #5c715e;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 10px;
  margin: 20px;
}

.service-cards {
  border-color: #5c715e;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 10px;
  margin: 20px;
}

.service-text {
  color: #5c715e;
}

.card-style-h1 {
  text-align: center;
  color: #f2f9f1;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin-top: 150px;
  overflow: auto;
}

.card-style-h2 {
  text-align: center;
  color: #f2f9f1;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  overflow: auto;
}

.quote-button {
  display: block;
  margin: 0 auto;
  color: #f2f9f1;
  background-color: #5c715e;
  border: #b6cdbd;
}

.quote-button :hover {
  color: #5c715e;
  background-color: #f2f9f1;
  border: #b6cdbd;
  cursor: pointer;
}

.main-images {
  border-radius: 2px;
  margin-bottom: 20px;
  border: 1px solid #5c715e;
  display: inline;
}
