body {
  font-family: "Roboto", sans-serif;
  background: #fcfaf7;
  color: #343a40;
  text-align: center;
}

header {
  text-align: center;
  color: #343a40;
  padding: 15px;
  margin: 10px;
}

h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

iframe {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  border-color: #343a40;
}

footer {
  text-align: center;
  color: #343a40;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

footer a {
  color: purple;
}

.app-wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

btn .nav {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
.nav-link {
  color: #343a40;
}

.btn {
  color: #fcfaf7;
  background: #343a40;
  border: solid #343a40;
  border-radius: 4px;
}

.card {
  border: solid 3px;
  border-color: #343a40;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 100%;
}

.about-card {
  border: solid 8px;
}

.card-title {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}

.card-text {
  font-size: 18px;
  opacity: 90%;
  color: #343a40;
}

.small-text {
  font-size: 16px;
  opacity: 80%;
  color: #343a40;
}

.card-two-left {
  padding-bottom: 52px;
}

.contact-card {
  border: solid 3px;
  border-color: #343a40;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 10px;
  margin: 10px;
}
.card-header {
  color: #fcfaf7;
  font-family: "Roboto", sans-serif;
  background: #343a40;
}
