body {
  font-family: "Roboto", sans-serif;
  background: #fcfaf7;
}

header {
  text-align: center;
  color: #343a40;
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 30px;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 10px;
}

a {
  color: #537627;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border-color: #343a40;
}

footer p {
  text-align: center;
  color: #343a40;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

footer a {
  color: #537627;
}

.app-wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

btn .nav {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
.nav-link {
  color: #343a40;
}

.btn {
  color: #fcfaf7;
  background: #343a40;
  border: solid #343a40;
  border-radius: 4px;
}
