body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background: #fcfaf7;
    height: 100vh;
    margin: 0;
    color: #343a40;
    text-align: center;
}

header {
  text-align: center;
  color: #343a40;
  padding: 15px;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 30px;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 10px;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border-color: #343a40;
}

ul {
  text-align: left;
}

footer p {
  text-align: center;
  color: #343a40;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

footer a {
  color: #537627;
}

.app-wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

btn .nav {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
.nav-link {
  color: #343a40;
}

.btn {
  color: #fcfaf7;
  background: #343a40;
  border: solid #343a40;
  border-radius: 4px;
}
.card {
  border: none;
  background-color: #fcfaf7;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
  height: auto;
  width: 100%;
}

.card-title {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}

.card-text {
  font-size: 18px;
  opacity: 90%;
  color: #343a40;
}

.service-card-title {
  font-size: 20px;
}

.service-card-text {
  font-size: 15px;
  opacity: 80%;
  color: #343a40;
}

.slogan {
  margin-top: 50px;
}
